.entrada{
    background-color: burlywood;
    width: 3.5em;
    color:black;
}
.entrada:focus{
    background-color: chartreuse;
    color: black;
}
.letra{
    font-family: "Comic Sans MS";
}
.ocultar{
    display: none;
}
.fondoImagen{
    background-image: url("./../../../assets/img/fondoAhorcado.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.opacidad{
    opacity: 92%;
}