.elipse{
    background-color: rgb(61, 48, 48);
    display: inline;
    border-top-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    color: white;
}
.fondo{
    background-color: #e5e5e5;
}
.fondo-body{
    background-color: #e5e5e565;
}

.fondoImagen{
    background-image: url("./../../../assets/img/fondoHome.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.textoCortado{
    width: 100%;
    height: auto;
  word-wrap: break-word;
}
.opacidad{
    opacity: 95%;
}