<div class="row mt-5 mb-5 justify-content-center">
    <div class="col-12 col-md-8">
        <form class="card" #formAsistencia="ngForm">
            <div class="card-header fondo"> 
                <h3 class=" font-weight-bold">  Confirma tu asistencia:  </h3>  
            </div>
              <div class="card-body fondo-body">
                <div class="row form-group">
                  <label class="col-sm-12 col-md-4 font-weight-bold">Usuario: </label>
                  <input class="form-control col-sm-12 col-md-8" #user="ngModel" type="text" name="txtUsuario" pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [(ngModel)]="asistente.usuario" placeholder="Correo electronico del votante" required/>
                  <div *ngIf="user.invalid && (user.dirty || user.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                    <div *ngIf="user.errors.required"> Email de usuario es requerido.</div> 
                    <div *ngIf="user.errors.pattern"> Email es invalido, ej: algo@algo.com.</div>
                  </div>
                </div>
              <div class="row form-group">
                <label class="col-sm-12 col-md-4 font-weight-bold" >Nombre de la organizacion: </label>
                <input class="form-control col-sm-12 col-md-8" #organizacion="ngModel" type="text" name="txtOrganizacion" [(ngModel)]="asistente.nombreOrganizacion" placeholder="Organizacion a la que perteneces" required/>
                <div *ngIf="organizacion.invalid && (organizacion.dirty || organizacion.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8"> 
                  <div *ngIf="organizacion.errors.required"> Nombre de organizacion es requerido.</div> 
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-12 col-md-4 font-weight-bold" >Solicita constancia: </label>
                <label class="col-sm-12 col-md-2"><input  type="radio" name="opcion" [(ngModel)]="asistente.requiereConstancia" [value]="true" required> SI</label>
                <label class="col-sm-12 col-md-2"><input  type="radio" name="opcion" [(ngModel)]="asistente.requiereConstancia" [value]="false" required> NO</label>
              </div>
              
              <div class="row form-group">
                <div class="col-12 mr-2">
                  <button type="button" class="btn btn-dark" (click)="registrar(); formAsistencia.reset() " [disabled]="!(formAsistencia.form.valid)" ><i class="fas fa-check-square"></i> Enviar</button>                       
                </div>
              </div>
            
            
            </div>
          </form>
    </div>
    
</div>
<!--  -->
<div class="row">
  <div class="col-sm-12 col-md-10 justify-content-center">
    <div class="h3 bg-gray text-center mt-2 mb-2"> LISTA DE ASISTENTES:</div>
  </div>
</div>
<!-- tabla -->
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 table-responsive">
    <table class="table table-bordered table-striped " [mfData]="asistentes" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead class="thead-dark">
        <tr class="text-center">
          <th style="width: 20%">
            <mfDefaultSorter by="usuario"><i class="fas fa-user"></i> Usuario</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="nombreOrganizacion"><i class="fas fa-building"></i> Organizacion</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="requiereConstancia"><i class="fas fa-check"></i> Solicita Constancia</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td> {{item.usuario}} </td>
          <td> {{item.nombreOrganizacion | uppercase}} </td>
          <td> {{item.requiereConstancia | convertirBool}} </td>     
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,15,20]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
 
</div> 


