<div class="row mt-5 mb-5 justify-content-center">
    <div class="col-12 col-md-8">
        <form class="card" #formregistro="ngForm" >
            <div class="card-header fondo"> 
                <h3 class=" font-weight-bold">  Gestion de Pasajes:  </h3>  
            </div>
              <div class="card-body fondo-body">
                <div class="row form-group">
                  <label class="col-sm-12 col-md-4 font-weight-bold">DNI Pasajero: </label>
                  <input class="form-control col-sm-12 col-md-8" pattern="[0-9]{7,8}" minlength="7" maxlength="8" type="text" id="dnipasajero" #dnipasajero="ngModel" name="txtDNI"  [(ngModel)]="pasaje.dniPasajero" placeholder="dni pasajero" required/>
                  <div *ngIf="dnipasajero.invalid && (dnipasajero.dirty || dnipasajero.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8">
                    <div *ngIf="dnipasajero.errors.required">
                      DNI es requerido.
                    </div>
                    <div *ngIf="dnipasajero.errors.pattern">
                      DNI debe ser un campo numerico y tener entre 7 y 9 caracteres.
                    </div>
                  </div>
                </div>
              <div class="row form-group">
                <label class="col-sm-12 col-md-4 font-weight-bold" >Precio del Pasaje: </label>
                <input class="form-control col-sm-12 col-md-8" #precio="ngModel" type="number" name="txtPrecio" [(ngModel)]="pasaje.precioPasaje" placeholder="precio" (ngModelChange)="onCambio($event)" required/>
                <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8">
                  <div *ngIf="precio.errors.required">
                    Precio es requerido.
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-12 col-md-4 font-weight-bold" for="categoria">Categoria: </label>
                <select class="form-control col-sm-12 col-md-8"  #categoria="ngModel" [(ngModel)]="pasaje.categoriaPasajero" [ngModelOptions]="{standalone: true}" (ngModelChange)="onCambio($event)" required>
                  <option [value]="item" *ngFor="let item of categorias">{{item}}</option>
                </select>
                <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="bg-danger mt-1 text-white col-sm-12 offset-md-4 col-md-8">
                  <div *ngIf="categoria.errors.required">
                    Categoria es requerida.
                  </div>             
                </div>
              </div>
              <div class="row form-group">
                <label class="col-sm-12 col-md-4 font-weight-bold" *ngIf="mostrarPrecio" for="categoria">Precio Final: {{precioFinal}} </label>
              </div>
              
              <div class="row form-group">
                <div class="col-12 p-3">
                  <button type="button" class="btn btn-outline-secondary m-2"  (click)="agregarPasaje() ; formregistro.reset()" [disabled]="!(formregistro.form.valid && btnGuardar)"><i class="fas fa-check-square"></i> Guardar</button>                       
                  <button type="button" class="btn btn-outline-secondary m-2"  (click)="limpiar(); formregistro.reset()" ><i class="fas fa-broom"></i> Limpiar</button>                       
                  <button type="button" class="btn btn-outline-secondary m-2" (click)="modificarPasaje() ; formregistro.reset() " [disabled]="!(formregistro.form.valid && btnModificar)"><i class="fas fa-edit"></i> Modificar</button>
                </div>
              </div>
              <div *ngIf="btnModificar">
                Presione "Limpiar" para cancelar la modificacion
              </div>
            </div>
          </form>
    </div>
    
</div>
<!-- tabla -->
<div class="row justify-content-center">
  <div class="col-sm-12 col-md-10 table-responsive">
    <table class="table table-bordered table-striped "  [mfData]="pasajes" #mf="mfDataTable" [mfRowsOnPage]="4" >
      <thead class="thead-dark align-self-start">
        <tr class="">
          <th scope="col" class="align-self-start">
            <mfDefaultSorter by="idPasaje"><i class="fas fa-id-card-alt"></i> ID Pasaje:</mfDefaultSorter>
          </th>
          <th scope="col">
            <mfDefaultSorter by="dniPasajero"><i class="far fa-id-card"></i> DNI Pasajero:</mfDefaultSorter>
          </th>
          <th scope="col">
            <mfDefaultSorter by="precioPasaje"><i class="fas fa-dollar-sign"></i> Precio pasaje:</mfDefaultSorter>
          </th>
          <th scope="col">
            <mfDefaultSorter by="categoriaPasajero"><i class="fas fa-user-friends"></i> Categoria pasajero:</mfDefaultSorter>
          </th>
          <th scope="col">
            <mfDefaultSorter by="fechaCompra"><i class="fas fa-calendar-alt"></i> Fecha:</mfDefaultSorter>
          </th>
          <th scope="col">
            <i class="fab fa-angular"></i> Acciones:
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td class="text-right"> {{item.idPasaje}} </td>
          <td class="text-right"> {{item.dniPasajero}} </td>
          <td class="text-right"> {{item.precioPasaje | currency:'USD':true:'1.1-2'}} </td>
          <td> {{item.categoriaPasajero}} </td>
          <td> {{item.fechaCompra | date:'dd/MM/yyyy'}} </td>
          <td> <button type="button" class="btn btn-outline-secondary mr-1" (click)="seleccionar(item)" ><i class="fas fa-edit"></i></button>     
          <button type="button" class="btn btn-outline-secondary" (click)="eliminarPasaje(item)" ><i class="fas fa-trash-alt"></i></button></td>  
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[4,8,12]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
 
</div> 

<!-- seccion resumen -->
<div class="row mt-2 mb-2">
  <div class="col-12 text-center">
    <button type="button" class="btn btn-outline-secondary" (click)="actualizarResumen()" ><i class="fas fa-sync"></i> Actualizar Resumen</button> 
  </div>
</div>

<div class="row justify-content-center mt-2">
    <div class="col-sm-12 col-md-10 table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
               <th colspan="3"> SECCION RESUMEN:</th> 
            </tr>
          <tr class="text-center">
            <th><i class="fas fa-user-friends"></i> Categoria:</th>
            <th> <i class="fas fa-list-ol"></i> Cantidad:</th>
            <th><i class="fas fa-dollar-sign"></i> Total:</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of resumen">
                <td> {{r.categoria}} </td>
                <td class="text-right"> {{r.cantidad}} </td>
                <td class="text-right"> {{r.total}} </td>
            </tr>
        </tbody>
      </table>
    </div>
   
  </div> 



